<%- include("../includes/header.ejs", {title:"Account - " + result[0].first_name}); %>
    <h1>Account</h1>

    First Name: <%= result[0].first_name %> <br />
    Last Name: <%= result[0].last_name %> <br />
    EMail: <%= result[0].email %> <br />

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
