<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resumes</h1>
<a href="/resume/add/selectuser">Add New Resume</a> <br />
<br />
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Resume Name</th>
        <th>Actions</th>
    </tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name%></td>
        <td><%= result[i].last_name%></td>
        <td><%= result[i].resume_name%></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>
