<%- include("../includes/header.ejs", {title:"Update Resume"}); %>
<h1>Update Resume</h1>
<form action="/resume/update" method="post">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume_name %>"/> <br />
    <select name="school_id" id="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>" <% if (selected_school.indexOf(school[i].school_id)) { %> selected="selected" <% } %>><%= school[i].school_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect()
        });
    </script>

    <br />
    <select name="company_id", id="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>" <% if (selected_company.indexOf(company[i].company_id)) { %> selected="selected" <% } %>><%= company[i].company_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    <select name="skill_id" id="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>" <% if (selected_skill.indexOf(skill[i].skill_id)) { %> selected="selected" <% } %>><%= skill[i].skill_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>
<% if (locals.saved) {%>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= resume_name %> saved
    </div>
</div>
<% } %>
<%- include("../includes/footer.ejs"); %>