<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="post">
    <input type="hidden" id="account_id" name="account_id" value="<%= account %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" /> <br />
    <select name="school_id" id="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>"><%= school[i].school_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>

    <br />
    <select name="company_id", id="company_id" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].company_id %>"><%= company[i].company_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    <select name="skill_id" id="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>"><%= skill[i].skill_name%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>