<%- include("../includes/header.ejs", {title:"Skill - " + result[0].skill_name}); %>
<h1>Skill</h1>

Name: <%= result[0].skill_name %> <br />
Description: <%= result[0].description %> <br />

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
