<%- include("../includes/header.ejs", {title:"Address - " + result[0].street}); %>
<h1>Address</h1>

Street: <%= result[0].street %> <br />
Zip: <%= result[0].zip_code %> <br />

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>
